{% extends "base.html" %}
{% block head %}
  <style>
    table, th, td {
      border: 1px solid black;
      text-align: center;
    }
  </style>
  <script src="javascripts/clients.js"></script>
{% endblock %}

{% block body %}
<div style="text-align:center;">
  <h2 class="bg-primary" style="background-color: green;"><b>Client list</b></h2>

  <label for="websocket_url">Url: </label><input id="websocket_url" width="50%">
  <br />
  <a id="a_connect" onclick="connect();">connect</a>
  <a id="a_disconnect" onclick="disconnect();" style="display: none;">disconnect</a>

  <br />
  <img id="stream_pic" alt="stream" style="display: none;" />

</div>
{% endblock %}