{% extends "base.html" %}
{% block head %}
  <style>
    table, th, td {
      border: 1px solid black;
      text-align: center;
    }
  </style>
  <script src="javascripts/control.js"></script>
{% endblock %}

{% block body %}
<div style="text-align:center;">
  <h2 class="bg-primary" style="background-color: green;"><b>Camera and remote control</b></h2>
  <label for="function_times">Process times:&nbsp;&nbsp;</label><input id="function_times">
  <a onclick="flash_led();">flash</a>&nbsp;<a onclick="breath_led()">breath</a>
  <br />
  <a id="a_connect" onclick="connect({{ port }});">Connect camera</a>
  <a id="a_disconnect" onclick="disconnect();" style="display: none;">Disconnect camera</a>

  <br />
  <img id="stream_pic" alt="stream" style="display: none;" />

</div>
{% endblock %}