<nav class="navbar navbar-default" style="font-family:sans-serif; background-color: cornflowerblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="/">The Site</a>
    </div>
    <div class="collapse navbar-collapse" id="siteNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/config">Configure page</a></li>
        <li><a href="/control">Camera control</a></li>
      </ul>
    </div>
  </div>
</nav>
